<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shortcut_Copy_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shortcut_Copy_Tool.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IncDirTree" serializeAs="String">
                <value>True</value>
            </setting>
        </Shortcut_Copy_Tool.Properties.Settings>
    </userSettings>
</configuration>